body {font-family:"Helvetica Neue",arial,helvetica,clean,sans-serif!important}
.container {padding:0.4em}
#top {padding-top:0}
.header {height:150px;background:white url('/images/aslongasittakes-logo.gif') no-repeat left top}
.header img.logo {margin:20px 20px 0 0;float:right}
h1 {margin:20px 0 0 100px;vertical-align:top;font-size:30pt;color:#535249}
.sidebar .container {background-color:#5296ce;border:1px solid #04205f;color:white}
ul.links {margin:0}
ul.links li {list-style-type:none;margin:2em auto;text-align:center}
ul.links a {font-weight: bold; font-size:110%}
ul.links a {text-decoration:none}
ul.links a:link, ul.links a:visited {color:white}
ul.links a:hover, ul.links a:active {color:#ab9b84}
.footer {border-top:1px solid #ab9b84;margin-top:1em;padding-bottom:0.5em}
.footer p {text-align:center;font-size:80%}
