body {background: black url('/images/starry-sky.jpg') repeat top left!important;color:white}
#top {padding-top:0}
#header {height:150px;background-image:url('/images/aslongasittakes-logo.png');background-repeat:no-repeat;background-position:top left}
#header img.logo {margin:15px 0 0 20px;float:right}
h1 {margin:20px 0 0 100px!important;vertical-align:top;font-size:40px;color:#535249}
a {color:white}
.sidebar {background-image:url('/images/sidebar.png');height:500px;color:#535249}
.sidebar p {margin:10px}
ul.links {margin:0}
ul.links li {list-style-type:none;margin:0 auto;text-align:center}
#flash_notice, #flash_error {width:100%;height:80px;margin-top:1em;background-repeat:no-repeat;color:black;font-size:120%;text-align:center;padding:10px}
#flash_notice {background-image:url('/images/flash_notice.png')}
#flash_error {background-image:url('/images/flash_error.png')}
#book {height:344px;background-image:url('/images/book.png');background-repeat:no-repeat}
#story {color:#222;height:260px;width:260px;margin-left:320px;position:relative;top:30px;overflow:auto}
#story p#opening {font-weight:bold;font-size:120%}
#story p {margin:0 0.5em 0.5em 0.5em;text-align:center}
#contribution label {font-size:120%;font-weight:bold;color:white}
#contribution .textarea_wrapper {height:80px;background-image:url('/images/textarea.png');background-repeat:no-repeat}
#contribution textarea {width:595px;height:55px;margin:10px;border:none;font-size:120%}
#contribution input {margin-top:1em}
#footer {border-top:1px solid #ab9b84;margin-top:1em;padding-bottom:0.5em}
#footer p {color:white;text-align:center;font-size:80%}
#footer a {color:white}
