<% title "Famous Contributors" -%>

<h2>Famous contributors</h2>

<p><strong>Emilia Fox</strong>, award winning British television and film actress,
  will open the Byte Night bedtime story.</p>
<p>Emilia has pledged her support to the Byte Night cause, and has led the charge
  with the bedtime story, remembering with affection her childhood love of these stories.</p>

