<% title "Famous Contributors" -%>

<div class="panel">
  <h2 class="first">Famous contributors</h2>

  <p><strong>Emilia Fox</strong>, award winning British television and film actress,
    opened the Byte Night bedtime story with the following:</p>
  <blockquote>
    <h3>Emily, The Extraordinary</h3>

    <p>Emily knew she was different to other 6 year olds. It
      wasn't that she could fly or turn frogs into princes or had a fairy godmother
      who could help tidy up, make her a dress and send her to a ball like in the
      books teachers sometimes read to them at school. Nor did Emily feel like her
      life resembled those of other children in her class. They had mums and dads who
      took them to school, made them packed lunches and picked them up at 4pm with
      hugs and kisses and, she guessed, tucked them into bed at night and read them a
      story too.</p>

    <p>"No" Emily thought, one very ordinary grey Wednesday as she climbed off the
      mattress on the floor where her 2 brothers and sister still lay sleeping, “my
      life isn't like theirs at all. I don't know where dad is and mum doesn't seem
      to care about anything anymore. I can cook and I can clean and I can make
      dinner for us all for under a fiver, but” she pondered, “why are other children
      at school sometimes horrid to us and call us names like 'tramps' and 'smellies'
      just because we haven't got new clothes like them?” That thought and knowing
      that she had to get Alex and Jack and Kiera up to face another day of it made
      Emily's heart hurt and she wished hard that she had someone to tell these
      things to.</p>

    <p>It was at that moment...</p>
  </blockquote>
  <p class="last">Emilia has pledged her support to the Byte Night cause, and has led the charge
    with the bedtime story, remembering with affection her childhood love of these stories.</p>
</div>
