<% title "Frequently-Asked Questions" -%>

<div class="panel">
  <h2>Frequently-Asked Questions</h2>
  <dl>
    <dt>What is the premise of the Byte Night Bedtime Story?</dt>
    <dd>The idea is to create the longest Bedtime Story by asking the UK public to
      contribute to the story online.</dd>

    <dt>Is the story based on a real life story?</dt>
    <dd>Yes the premise of the story is based on real life child called Emily. Emily
      was a six year-old girl with two younger brothers and a younger sister. She
      grew up in a filthy house where there were no meals at meal time and a bath
      just once a fortnight, if she was lucky. Nobody really looked after Emily or
      her siblings, so instead she tried to look after them as best she could, doing
      their laundry and making sure they went to bed early. She tried her best, but
      being just a child herself, it was hard.

      Her story inspired actress Emilia Fox to create a story based around a
      character called Emily.</dd>

    <dt>How do I contribute?</dt>
    <dd>Anyone can contribute a passage to the story of no more than 140 characters.
      The idea is to create a story which flows, so it’s important to ensure the
      paragraph flows on from the previous one. Contributions will be open for
      submission between 9am and 11pm.</dd>

    <dt>What happens to my contribution once I have submitted it?</dt>
    <dd>Once you have submitted your paragraph it will be forwarded to an editorial
      team, who will check it to ensure it flows and is grammatically correct. Any
      entries using inappropriate language will be immediately deleted.</dd>

    <dt>How long is the story book open for?</dt>
    <dd>The Byte Night Bedtime Story will close at 6pm on Friday October 1st. After
      this time, entries will not be added to the book.</dd>

    <dt>Do I have to divulge my name or can I make an anonymous contribution?</dt>
    <dd>The option to state your name when submitting is entirely voluntary and
      contributions can be made anonymously. If you do give your name, this
      information will be kept by Action for Children and will not be passed on to
      any third parties.</dd>

    <dt>What happens once the story book is closed?</dt>
    <dd>After October 1st the story will be turned into an online book available to
      download at a price with all proceeds going to Action for Children.</dd>

    <dt>What is Byte Night?</dt>
    <dd>Byte Night is an annual charity sleep-out event that takes place in various
      locations across the UK each October, this year on the 8th. All proceeds from
      Byte Night raise vital funds for Action for Children, a charity that protects
      against youth homelessness and child neglect</dd>
  </dl>
</div>
