<% title "Hints and Tips" -%>

<div class="panel">
  <h2 class="first">Hints & tips</h2>

  <p>Here is a collection of hints and tips you help you with our bedtime story:</p>

  <ol class="last">
    <li>A bedtime story should be whimsical and enchanting, filling our minds with
      bright tales as we drift off to sleep</li>
    <li>Capture your audience &ndash; we want something that&rsquo;s comforting and familiar but
      filled with colour and excitement</li>
    <li>Consider the timing &ndash; its night-time, please don&rsquo;t scare us too much with horror stories!</li>
    <li>Think about the setting &ndash; if Emily is at home in the previous entry, she can&rsquo;t
      be in outer space in the next ;)</li>
    <li>Remember which tense, and how it is being narrated &ndash; decide whether the story
      uses the first person or third person narrative. In third person, the story is
      told by an observer, using &lsquo;they&rsquo; instead of &lsquo;I&rsquo;. First person is when one person
      is telling the story directly to the audience</li>
    <li>Keep your words and sentences simple &ndash; don&rsquo;t be too ambitious as remember, it&rsquo;s
      late and we&rsquo;re very tired&hellip;.</li>
    <li>You don&rsquo;t have to read the whole story so far, but make sure you check the last
      couple of entries &ndash; that will help you ensure your sentence flows nicely</li>
    <li>Don&rsquo;t forget where the story started and remember how it opened. Bearing this mind
      will help create structure and will help us, the readers, to follow the plot better</li>
    <li>140 characters isn&rsquo;t much so focus on one point you want your post to convey</li>
    <li>And finally&hellip;.come back! Remember, this is your bedtime story so don&rsquo;t forget to keep
      re-visiting and adding your new posts to steer the tale in new directions and help
      close the loop on Emily&rsquo;s adventure. </li>
  </ol>
</div>
