<% title "Top Bedtime Story Phrases" -%>

<h2>Top Bedtime Story Phrases</h2>

<ul>
  <li>&ldquo;Once upon a time&rdquo;</li>
  <li>&ldquo;In a land far away&rdquo;</li>
  <li>&ldquo;It was a dark and stormy night&rdquo;</li>
  <li>&ldquo;And they all lived happily ever after&rdquo;</li>
  <li>&ldquo;And when they woke up, they realized it was all a dream&rdquo;</li>
</ul>

<p>These might be popular, but they&rsquo;re not our favourites! Try something
  original and creative to help make this bedtime story truly unique.</p>

