<% title "Top Bedtime Story Phrases" -%>

<h2>Top bedtime story phrases</h2>

<ul>
  <li>&ldquo;Once upon a time&rdquo;</li>
  <li>&ldquo;In a land far away&rdquo;</li>
  <li>&ldquo;It was a dark and stormy night&rdquo;</li>
  <li>&ldquo;And they all lived happily ever after&rdquo;</li>
  <li>&ldquo;And when they woke up, they realized it was all a dream&rdquo;</li>
</ul>

<p>These might be popular, but they&rsquo;re not our favourites! Try something
  original and creative to help make this bedtime story truly unique.</p>

<h2>The nation&rsquo;s top 20 favourite bedtime stories</h2>

<p>Earlier this year, Munch Bunch commissioned independent to find the
  nation&rsquo;s favourite bedtime stories. Here is the list of the
  UK&rsquo;s top twenty night-time reads&hellip;</p>

<ol>
  <li>The Very Hungry Caterpillar, Eric Carle</li>
  <li>The Lion, The Witch and The Wardrobe, C.S. Lewis</li>
  <li>BFG, Roald Dahl</li>
  <li>Winnie the Pooh, A.A. Milne</li>
  <li>The Gruffalo, Julia Donaldson</li>
  <li>Famous Five, Enid Blyton</li>
  <li>Matilda, Roald Dahl</li>
  <li>The Tales of Peter Rabbit, Beatrix Potter</li>
  <li>Alice in Wonderland, Lewis Carroll</li>
  <li>The Secret Garden, Frances Hodgson Burnett</li>
  <li>Peter Pan, J.M. Barrie</li>
  <li>Mr Men, Roger Hargreaves</li>
  <li>The Witches, Roald Dahl</li>
  <li>The Twits, Roald Dahl</li>
  <li>James and the Giant Peach, Roald Dahl</li>
  <li>The Wind in the Willows, Kenneth Grahame</li>
  <li>The Cat in the Hat, Dr Suess</li>
  <li>Hans Christian Fairy Tales, H.C. Andersen</li>
  <li>Harry Potter and the Half Blood Prince, J.K.Rowling</li>
  <li>A Christmas Carol, Charles Dickens</li>
</ol>
