<% title "Byte Night Stories" -%>

<h2>Emily&rsquo;s story</h2>

<p>TODO</p>

<h2>Aileen&rsquo;s story</h2>

<p>&ldquo;Action for Children has made me more confident in myself. It&rsquo;s helped me learn
about stuff, like saving money. It&rsquo;s really good on the emotional side of
things. If you know you have someone there who is going to support you, you
feel more relaxed about everything and you feel less stressed. I wouldn&rsquo;t have
been able to do it without them. Everything would have gone wrong.&rdquo;</p>

<h2>Chris&rsquo;s story</h2>

<p>&ldquo;I went into care aged seven because my parents didn&rsquo;t want me any more. By the
time I was a teenager, I couldn&rsquo;t see anything out there for me. I tried to
commit suicide several times. But when I was 16, I started going to an Action
for Children project. I wouldn&rsquo;t be alive without them. They got me involved
with lots of activities. They gave me practical help with things and put me
through anger management classes and counselling. They really have changed my
life&rdquo;</p>

<h2>Jessica&rsquo;s story</h2>

<p>Jessica, 18, is in her first year studying graphic
design at university. Getting there is an achievement she never imagined
possible when she was kicked out of home for the final time, aged 15, after
constant friction with her mum&rsquo;s boyfriend. Throughout much of her teenage
years, Jessica was pretty much on her own. After they split up, her parents
were preoccupied with getting on with their own lives to the extent that they
neglected hers. The fact that Jessica is at university is largely down to her
resilience, the guidance of a few friends and a supportive Action for Children
service providing help when it was needed most.</p>
