<% title "Byte Night Stories" -%>

<div class="panel">
  <h2>Emily&rsquo;s story</h2>

  <p>Emily was a six year-old girl with two younger brothers and a younger sister.
    She grew up in a filthy house where there were no meals at meal time and a bath
    just once a fortnight, if she was lucky. Nobody really looked after Emily or
    her siblings, so instead she tried to look after them as best she could, doing
    their laundry and making sure they went to bed early. She tried her best, but
    being just a child herself, it was hard.</p>

  <p>&ldquo;The neglect was from a young age, the house was filthy, we were filthy, we
    were lucky if we had a bath once a fortnight, sometimes we had nothing to eat.
    It was the emotional neglect I suppose that affects you most.&rdquo;</p>
</div>

<div class="panel">
  <h2>Aileen&rsquo;s story</h2>

  <p>&ldquo;Action for Children has made me more confident in myself. It&rsquo;s helped me learn
    about stuff, like saving money. It&rsquo;s really good on the emotional side of
    things. If you know you have someone there who is going to support you, you
    feel more relaxed about everything and you feel less stressed. I wouldn&rsquo;t have
    been able to do it without them. Everything would have gone wrong.&rdquo;</p>

  <p><a href="http://www.bytenight.org.uk/changing-lives-detail.cfm?id=50">Read Aileen&rsquo;s story</a></p>
</div>

<div class="panel">
  <h2>Chris&rsquo;s story</h2>

  <p>&ldquo;I went into care aged seven because my parents didn&rsquo;t want me any more. By the
    time I was a teenager, I couldn&rsquo;t see anything out there for me. I tried to
    commit suicide several times. But when I was 16, I started going to an Action
    for Children project. I wouldn&rsquo;t be alive without them. They got me involved
    with lots of activities. They gave me practical help with things and put me
    through anger management classes and counselling. They really have changed my
    life&rdquo;</p>

  <p><a href="http://www.bytenight.org.uk/changing-lives-detail.cfm?id=49">Read Chris&rsquo;s story</a></p>
</div>

<div class="panel">
  <h2>Jessica&rsquo;s story</h2>

  <p>Jessica, 18, is in her first year studying graphic
    design at university. Getting there is an achievement she never imagined
    possible when she was kicked out of home for the final time, aged 15, after
    constant friction with her mum&rsquo;s boyfriend. Throughout much of her teenage
    years, Jessica was pretty much on her own. After they split up, her parents
    were preoccupied with getting on with their own lives to the extent that they
    neglected hers. The fact that Jessica is at university is largely down to her
    resilience, the guidance of a few friends and a supportive Action for Children
    service providing help when it was needed most.</p>

  <p><a href="http://www.bytenight.org.uk/changing-lives-detail.cfm?id=51">Read Jessica&rsquo;s story</a></p>
</div>
