<% title "Terms &amp; Conditions" -%>

<div class="panel">
  <h2>Disclaimer and Privacy Policy</h2>
  <ul>
    <li>The content of the pages of this website is for your general
      information and use only. It is subject to change without notice.</li>
    <li>This website contains material which is owned by or licensed to us.
      This material includes, but is not limited to, the design, layout, look,
      appearance and graphics. Reproduction of any of this material is
      prohibited.</li>
    <li>Any comments posted on this website belong to Action for Children and
      will be used at its discretion. However, we will not share or distribute
      comments or contact details posted on the website to any third parties or
      use them in any other way than for the sole purpose of the Byte
      Night Bedtime Story.</li>
    <li>Action for Children and its appointed PR agency, Bite Communications,
      reserve the right to post and/or decline any contributions that are
      deemed suitable or unsuitable for the purposes of the Bedtime Story.
    </li>
    <li>From time to time this website may also include links to other
      websites. These links are provided for your convenience to provide
      further information. They do not signify that we endorse the website(s).
      We have no responsibility for the content of the linked website(s).</li>
    <li>All trademarks reproduced in this website which are not the property
      of, or licensed to, the operator are acknowledged on the website.</li>
    <li>Unauthorised use of this website may give rise to a claim for damages
      and/or be a criminal offence.</li>
  </ul>
</div>

<div class="panel">
  <h2>Acknowledgements</h2>
  <ul>
    <li>Site created by
      <a href="http://twitter.com/kerryb">Kerry Buckley</a>
      and <a href="http://twitter.com/alkesh">Alkesh Vaghmaria</a>.</li>
    <li>Background image based on
      <a href="http://www.flickr.com/photos/zooboing/4183276010/">Night Sky Texture</a>,
      &copy; Patrick Hoesly, used under
      <a href="http://creativecommons.org/licenses/by/2.0/deed.en_GB">Creative Commons
        Attribution licence</a>.</li>
    <li>Book image based on
      <a href="http://commons.wikimedia.org/wiki/File:Héraldique_meuble_Livre_ouvert.svg">H&eacute;raldique
        meuble Livre ouvert</a>,
      &copy; <em>LeMorvandiau</em>, used under
      <a href="http://en.wikipedia.org/wiki/GNU_Free_Documentation_License">GNU
        Free Documentation licence</a>.</li>
  </ul>
</div>
