<% title "The page you were looking for doesn't exist (404)" -%>
<div class="panel">
  <h2 class="first">The page you were looking for doesn't exist.</h2>
  <p class="last">You may have mistyped the address or the page may have moved.</p>
</div>
